<input
  type="text"
  app-autofocus
  placeholder="Feed URL"
  (keyup.enter)="getFeed($event.target.value)"
/>

<div *ngIf="feed">
  <span>{{ feed.feed.title }}</span>
  <button [disabled]="followed$ | async" (click)="addFeed()">
    {{ (followed$ | async) ? "Followed" : "Follow" }}
  </button>
</div>

<div class="error" *ngIf="hasErr">
  Failed to parse the feed. Please try again
</div>

<h3>Followed Feeds:</h3>

<div *ngFor="let f of feeds$ | async" class="followed-feed">
  <span>{{ f.title }}</span>
  <button (click)="removeFeed(f)">Unfollow</button>
</div>
