<div class="feed-list">
  <button class="all-feeds" (click)="appComp.addFeed = false">Feeds</button>

  <!-- Disable buttons first. Pending implementing filtering -->
  <button
    disabled
    *ngFor="let feed of feeds$ | async"
    class="overflow-ellipsis"
    [title]="feed.title"
  >
    {{ feed.title }}
  </button>

  <button class="add-feed-button" (click)="appComp.addFeed = true">
    <mat-icon>add</mat-icon>
    <span>Add Feed</span>
  </button>

  <button (click)="testNewFeed()">Test New Feed</button>
</div>
