@import "../../../styles";

:host {
  width: 12rem;
}

.feed-list {
  position: fixed;
  width: 12rem;
  padding-right: 0.5rem;
  border-right: 0.0625rem solid #e2e8f0;
}

button {
  width: calc(100% - 0.5rem);
  padding: 0.25rem 0.5rem;
  text-align: left;
  background: transparent;
  font-size: 0.75rem;
  font-weight: 500;
  color: #2d3748;

  &:hover {
    background: #f1f6f9;
  }
}

.all-feeds {
  font-size: 1rem;
  font-weight: 700;
}

.add-feed-button {
  display: flex;
  align-items: center;

  mat-icon {
    @include icon-size(1rem);
  }
}
