/* You can add global styles to this file, and also import other style files */
*,
::after,
::before {
  box-sizing: border-box;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin icon-size($size) {
  height: $size;
  width: $size;
  font-size: $size;
}
